$btn-badge-font-color: #fff;
$btn-badge-light-font-color: #212529;

$btn-badge-bg-color: #007bff;
$btn-badge-border-color: #007bff;

$btn-badge-light-bg-color: #f8f9fa;
$btn-badge-light-border-color: #f8f9fa;

$badge-secondary-font-color: #fff;
$badge-secondary-bg-color: #6c757d;
$badge-secondary-border-color: #6c757d;